[Desktop Entry]
Name[es_ES]=Instalador de controladores Nvidia
Name[ja]=Nvidia ドライバのインストーラ
Name[pt_BR]=Instalador de Controladores da NVidia
Name[sq]=Instalues përudhësish Nvidia
Name=Nvidia driver installer
Comment[es_ES]=Instalar el driver propietario de nvidia desde el repo
Comment[ja]=プロプリエタリな Nvidia ドライバをリポジトリからインストール
Comment[pt_BR]=Instalar o controlador (driver) proprietário  da NVidia do repositório
Comment[sq]=Instalo përudhës pronësor nvidia që nga depoja
Comment=Install proprietary nvidia driver from repo
Icon=nvidia-ddm-mx
Type=Application
Terminal=true 
Exec=pkexec /usr/bin/ddm-mx -i nvidia
Categories=ConsoleOnly;System;MX-Setup;
