[Desktop Entry
Name[es]=Instalador de controladores Nvidia
Name[es_ES]=Instalador de controladores Nvidia
Name[fr]=Nvidia - installation du pilote
Name[fr_BE]=Nvidia - installation du pilote
Name[hu]=Nvidia meghajtó telepítő
Name[it]=Installatore driver Nvidia
Name[ja]=Nvidia ドライバのインストーラ
Name[nb]=Installer Nvidia-driver
Name[pt_BR]=Instalador de Controladores da NVidia
Name[sq]=Instalues përudhësish Nvidia
Name[sv]=Nvidia drivrutin-installerare
Name=Nvidia driver installer
Comment[es_ES]=Instalar el driver propietario de nvidia desde el repo
Comment[fr]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[fr_BE]=Installer le pilote propriétaire Nvidia à partir du dépôt
Comment[it]=Installa driver proprietari Nvidia dal repo
Comment[ja]=プロプリエタリな Nvidia ドライバをリポジトリからインストール
Comment[nb]=Installer ikke-fri Nvidia-driver fra pakkearkivet
Comment[pt_BR]=Instalar o controlador (driver) proprietário  da NVidia do repositório
Comment[sq]=Instalo përudhës pronësor nvidia që nga depoja
Comment[sv]=Installera proprietär nvidia drivrutin från förråd
Comment=Install proprietary nvidia driver from repo
Icon=nvidia-ddm-mx
Type=Application
Terminal=true 
Exec=su-to-root -X -c "/usr/bin/ddm-mx -i nvidia"
Categories=ConsoleOnly;System;MX-Setup;
