Package: ddm-mx
Version: 22.06.01mx21
Architecture: all
Maintainer: Dolphin Oracle <dolphinoracle@gmail.com>
Installed-Size: 375
Depends: cli-shell-utils
Section: admin
Priority: optional
Description: CLI app for installing nvidia drivers
